@import "../variables/_variables.scss";

.single-country {
  padding: 0 2rem 4rem 4rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
    gap: 3rem;
  }

  .btn {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 1.3rem 3rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $textColor;
    background-color: $darkBlue;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  article {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .flag {
      width: 100%;
      height: auto;
      min-width: 300px;
      height: auto;
      img {
        width: 100%;
        min-width: 300px;
        height: auto;
        object-fit: cover;
      }
    }
    .country-inner {
      display: flex;
      flex-direction: column;
      padding: 8rem 4rem;
      gap: 4rem;
      @media (max-width: 768px) {
        gap: 2rem;
        flex-direction: column;
        padding: 2rem;
      }
      .country-details {
        display: flex;
        justify-content: flex-start;
        gap: 8rem;
        line-height: 2rem;
        @media (max-width: 768px) {
          gap: 2rem;
        }
        .details {
          h2 {
            color: $textColor;
            font-size: 2.8rem;
            margin-bottom: 1rem;
            line-height: 3rem;
          }

          h5 {
            color: $textColor;
            font-size: 1.4rem;
            span {
              margin-left: 0.6rem;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        .top-level {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: start;
          h5 {
            color: $textColor;
          }
          h5 span {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .border-details {
      display: flex;
      color: $textColor;
      flex-wrap: wrap;
      row-gap: 1rem;

      @media (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      h3 {
        align-self: center;
        font-size: 1.8rem;
      }

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-left: 1rem;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: row;
          margin-left: 1rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-align: center;
        }
        li {
          padding: 0.8rem 1.6rem;
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          color: rgba(255, 255, 255, 0.5);
          background-color: $darkBlue;
          border-radius: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
