* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.3%;
}

body {
  font-size: 1.6rem;
}

.single-country {
  padding: 0 2rem 4rem 4rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
@media (max-width: 768px) {
  .single-country {
    padding: 0 2rem;
    gap: 3rem;
  }
}
.single-country .btn {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 1.3rem 3rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: hsla(0deg, 0%, 100%, 0.8);
  background-color: hsl(209deg, 23%, 22%);
  text-decoration: none;
  border-radius: 0.5rem;
}
.single-country article {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
@media (max-width: 992px) {
  .single-country article {
    flex-direction: column;
  }
}
.single-country article .flag {
  width: 100%;
  height: auto;
  min-width: 300px;
  height: auto;
}
.single-country article .flag img {
  width: 100%;
  min-width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-country article .country-inner {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem;
  gap: 4rem;
}
@media (max-width: 768px) {
  .single-country article .country-inner {
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
  }
}
.single-country article .country-inner .country-details {
  display: flex;
  justify-content: flex-start;
  gap: 8rem;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .single-country article .country-inner .country-details {
    gap: 2rem;
  }
}
.single-country article .country-inner .country-details .details h2 {
  color: hsla(0deg, 0%, 100%, 0.8);
  font-size: 2.8rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}
.single-country article .country-inner .country-details .details h5 {
  color: hsla(0deg, 0%, 100%, 0.8);
  font-size: 1.4rem;
}
.single-country article .country-inner .country-details .details h5 span {
  margin-left: 0.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.single-country article .country-inner .country-details .top-level {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.single-country article .country-inner .country-details .top-level h5 {
  color: hsla(0deg, 0%, 100%, 0.8);
}
.single-country article .country-inner .country-details .top-level h5 span {
  color: rgba(255, 255, 255, 0.5);
}
.single-country article .border-details {
  display: flex;
  color: hsla(0deg, 0%, 100%, 0.8);
  flex-wrap: wrap;
  row-gap: 1rem;
}
@media (max-width: 768px) {
  .single-country article .border-details {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.single-country article .border-details h3 {
  align-self: center;
  font-size: 1.8rem;
}
.single-country article .border-details ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .single-country article .border-details ul {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.single-country article .border-details ul li {
  padding: 0.8rem 1.6rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgba(255, 255, 255, 0.5);
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 0.5rem;
  font-size: 1rem;
}/*# sourceMappingURL=Country.css.map */